<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle del Articulo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="articulo">
  <ion-card *ngIf="articulo">
    <img class="articulo_size" [src]="articulo.thumbnail">
    <ion-card-header>

      <ion-card-subtitle>
        <h1>{{articulo.title}}</h1>
      </ion-card-subtitle>
      <ion-card-title>Precio: {{articulo.price}}{{articulo.currency_id}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div>
        <h3>Condición: {{articulo.condition}}</h3><br>
        <h3>Descripción: {{articulo.descriptions.id}}</h3><br>
        <h3>Acepta Mercadopago: {{articulo.accepts_mercadopago}}</h3><br>
        <h3>Ubicación: {{articulo.location.city.name}} - {{articulo.location.state.name}}</h3>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>