<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bienvenido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="text-align: center;">
    <ion-row>
      <ion-col>
        <ion-label>Por favor introduce el articulo a buscar</ion-label>
        <ion-input placeholder="Artículo a buscar" inputmode="search" required [(ngModel)]="articulo" text-right
          id="articulo"></ion-input>
      </ion-col>
    </ion-row>
    <div style="padding-top: 40px;">
      <ion-button fill="outline" (click)="buscarArticulos()">Buscar</ion-button>
    </div>
  </div>
</ion-content>