<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Listado de Articulos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="articulos">
    <ion-item *ngFor="let lista of articulos.results" (click)="detalleArticulo(lista.id)">
      <img [src]="lista.thumbnail">
      <ion-col>
        <div>
          <h3>{{lista.title}}</h3>
          <ion-label>Precio: {{lista.price}}{{lista.currency_id}}</ion-label>
          <ion-label>{{lista.condition}}</ion-label>
        </div>
      </ion-col>
    </ion-item>
  </ion-list>
</ion-content>